<div class="station">
  <h2><%= @station_facade.name %></h2>
  <ul>
    <li><strong>Status:</strong> <%= @station_facade.status %></li>
    <li><strong>Convenience Store: </strong><%= @station_facade.convenience_store? %></li>
  </ul>
</div>
